<div class="container">
  <div class="row pt-3">
    <div class="col-md-3">
      <div>
        <%= flash[:notice] %>
      </div>
      <!--user部分-->
      <h2>User info</h2>
      <div>
        <%= image_tag @book_user.get_profile_image, size: "100x100" %>
      </div>
      <table class="table">
        <tr>
          <th>name</th>
          <td><%= @book_user.name %></td>
        </tr>
        <tr>
          <th>introduction</th>
          <td><%= @book_user.introduction %></td>
        </tr>
      </table>
      <button type="button" class="btn btn-outline-secondary">
        <%= link_to edit_user_path(@book_user.id) do %>
          <i class="fa-solid fa-user-gear edit_user_btn"></i>
        <% end %>
      </button>

      <!--投稿部分-->
      <h2 class="mt-3">New book</h2>
      <%= form_with model: Book.new do |f| %>
        <p>Title</p>
        <%= f.text_field :title, class: 'main_form form-control input-lg' %>
        <p>Opinion</p>
        <%= f.text_area :body, class: 'main_form form-control input-lg' %>
        <%= f.submit 'Create Book', class: 'mt-3 btn btn-success' %>
      <% end %>
    </div>

      <!--投稿詳細-->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user.id) do %>
                <%= image_tag @book.get_image %><br>
                <%= @book.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td>
              <%= @book.body %>
            </td>
            <% if @book.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book), class: 'btn btn-success btn-sm' %></td>
              <td><%= link_to "Destroy", book_path(@book), class: 'btn btn-danger btn-sm', method: :delete %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>